.page
  .row
    .span12
      .page-title.clearfix
        %p.lead.pull-left
          Edit
          = @violator.license

        .pull-right.datestamp
          %span.muted= "first seen #{l(@violator.updated_at)}"

          / - if @violator.flagged == true
          /   .btn.btn-mini.disabled{:title => 'Flagged for review'}
          /     %i.icon-flag
          /     Flagged

          / - else
          /   - if can? :flag, @violator
          /     = link_to "<i class='icon-flag'></i> Flag".html_safe, flag_violator_path(@violator), :title => 'Flag for review', :class => 'btn btn-mini'
      %hr.body-divider
  .row
    = render :partial => "form"
