!!!
%html{lang:"en"}
  %head
    %meta{content:"text/html; charset=UTF-8", http: {equiv: "Content-Type"}}
  %body
    %h1 New Feedback!
    - if @user.present?
      %p
        %strong= "From user: #{@user.display_name(false)}"

    %p= simple_format h(@message)