/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.fileupload-ui
 *= require_tree .
*/

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 15px 0;
}
.footer-links ul {
  margin: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

header {
  margin-top: 20px;
}
.avatar-url {
  border-radius: 2px;

  width: 20px;
  height: 20px;
}
.navbar .avatar-url {
  margin-right: 2px;
}

.announcement.alert {
  border-radius: 0px
}
.announcement.alert a {
  font-weight: bold;
}

.user-profile-form.form-horizontal .control-label {
  padding-top: 0px;
}

.user-profile-form .control-label {
  color: #777;
}
