// Place all the styles related to the violations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.violations
  .violation-item
    padding: 2px
    border-radius: 5px
    border: 1px solid rgb(196, 196, 196)
    background-color: rgb(249, 249, 249)
    background-image: -webkit-linear-gradient(top, #fff, #f7f7f7)
    background-image: -moz-linear-gradient(top, #fff, #f7f7f7)
    background-image: -ms-linear-gradient(top, #fff, #f7f7f7)
    background-image: -o-linear-gradient(top, #fff, #f7f7f7)
    background-image: linear-gradient(top, #fff, #f7f7f7)
  .author img
    border-radius: 4px