// Place all the styles related to the violations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-polaroid.form-preview
  margin-right: 10px

#violationCarousel .item
  text-align: center
  img
    margin: auto

.violation-description
  margin-top: 20px

#violation_map
  height: 250px
  width: 100%

#violation_heatmap
  height: 250px
  width: 100%

// fixes for Google Maps + Bootstrap
.mapfix
  img
    max-width: none
  label
    width: auto
    display: inline

.violations
  .violation-row
    margin-bottom: 20px
    .violation-item
      padding: 7px
      border-radius: 5px
      border: 1px solid rgb(196, 196, 196)
      background-color: rgb(249, 249, 249)
      background-image: -webkit-linear-gradient(top, #fff, #f7f7f7)
      background-image: -moz-linear-gradient(top, #fff, #f7f7f7)
      background-image: -ms-linear-gradient(top, #fff, #f7f7f7)
      background-image: -o-linear-gradient(top, #fff, #f7f7f7)
      background-image: linear-gradient(top, #fff, #f7f7f7)
      .actions
        margin-left: 5px
      .title
        line-height: 24px
      .date, span.muted
        line-height: 24px
        font-size: 12px
        a.datetime
          cursor: default
    .mobile-points
      font-weight: bold
    .author
      img
        border-radius: 4px
        &.anonymous-avatar
          border: 1px solid #ddd
      a
        display: inline-block
    .violation-pictures
      text-align: center
      .display
        a
          display: inline-block
          max-width: 100%
          .img-desc-container
            max-width: 100%
            position: relative
            overflow: hidden
            .photo-comment
              color: #fff
              font-size: 16px
              font-weight: 200
              padding: 10px 20px 10px 10px
              position: absolute
              bottom: 0
              left: 0
              background-color: rgba(0, 0, 0, 0.75)
              width: 99%
          img
            width: 100%
            max-width: 795px
          @media (max-width: 1199px)
            img
              max-width: 630px
          @media (min-width: 1200px)
            img
              max-width: 795px

        .img-polaroid
          border-top: 0

