.row
  .span8.offset4
    - unless notice.nil?
      .alert.alert-success.fade.in
        %button{type: "button", class: "close", data: {dismiss: "alert"}} &times;
        = notice
    - unless alert.nil?
      .alert.alert-error.fade.in
        %button{type: "button", class: "close", data: {dismiss: "alert"}} &times;
        = alert