%footer.footer
  .container
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      Created and maintained by
      %a{href: "https://www.twitter.com/f3ndot"} @f3ndot
      = surround '(', ')' do
        = link_to 'Justin Bull', 'https://www.justinbull.ca/'
    %p
      Provided as a free service to the
      %a{href: "https://www.twitter.com/search?q=%23BikeTO"} #BikeTO
      community
    %p
      %a{href: "https://www.github.com/f3ndot/my-bike-lane"} Source code
      available under the
      %a{href: "http://en.wikipedia.org/wiki/MIT_License"} MIT License
    .footer-links
      %ul
        %li
          %a{href: "/page/privacy-policy"} Privacy Policy
        %li •
        %li
          %a{href: "/page/developers"} Developers
        %li •
        %li
          %a{href: "/page/about-mybikelane-toronto"} About

%script{type:"text/javascript"}
  var disqus_shortname = 'mybikelanetoronto'; // required: replace example with your forum shortname

  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
