%footer.footer
  .container
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      Created and maintained by
      %a{href: "https://www.twitter.com/f3ndot"} @f3ndot
      of
      %a{href: "https://www.conduitlabs.ca/"} Conduit Labs
    %p
      Provided as a free service to the
      %a{href: "https://www.twitter.com/search?q=%23BikeTO"} #BikeTO
      community
    %p
      %a{href: "https://www.github.com/f3ndot/my-bike-lane"} Source code
      available under the
      %a{href: "http://en.wikipedia.org/wiki/MIT_License"} MIT License
    .footer-links
      %ul
        %li
          %a{href: "/page/privacy-policy"} Privacy Policy
        %li •
        %li
          %a Developers
        %li •
        %li
          %a About


%script{type:"text/javascript"}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36829887-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
