%footer.footer
  .container
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      Created and maintained by
      %a{href: "https://www.twitter.com/f3ndot"} @f3ndot
      of
      %a{href: "https://www.conduitlabs.ca/"} Conduit Labs
    %p
      Provided as a free service to the
      %a{href: "https://www.twitter.com/search?q=%23BikeTO"} #BikeTO
      community
    %p
      %a{href: "https://www.github.com/f3ndot/my-bike-lane"} Source code
      available under the
      %a{href: "http://en.wikipedia.org/wiki/MIT_License"} MIT License
    .footer-links
      %ul
        %li
          %a{href: "/page/privacy-policy"} Privacy Policy
        %li •
        %li
          %a{href: "/page/developers"} Developers
        %li •
        %li
          %a{href: "/page/about-mybikelane-toronto"} About